@import 'src/styles/vars.scss';

html {
  color: $global-color;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: normal;
}

.title {
  font-size: 200%;
}

.frame {
  border: 1px solid $apsis-frame-color;
  border-radius: 6px;
  margin-bottom: 1.5ex;

  &.pad, .pad {
    padding: 8px 16px;
  }

  .heading {
    background-color: #f6faf8;
    border-radius: 6px 6px 0 0;
    padding: 10px 16px 10px 16px;
    font-weight: 600;
    border-bottom: 1px solid $apsis-frame-color;
  }
}

em {
  color: #633;
}

.code {
  font-family: $base-code-font-family;
  font-size: $base-code-font-size;
  letter-spacing: -0.02rem;
  color: $base-code-color;
}

code {
  letter-spacing: -0.02rem;
}

pre {
  border: none;
  margin: 0;
}

tt {
  font-family: $base-code-font-family;
}

.field-label {
  text-transform: uppercase;
}

.error-message {
  color: #802;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 18px;
}

.spaced {
  margin-left: 0.3em;
}

.section {
  margin-top: 1x;
}

// For "buttons" with underline selection.
.undersel {
  padding: 0 8px 4px 8px;
  color: inherit;
  cursor: default;
  &:hover {
    text-decoration: none;
    border-bottom: 3px solid #eee;
  }
  &.sel {
    border-bottom: 3px solid black;
  }
}

button {
  background: #f0f6f0;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  color: $global-color;
  font-family: inherit;
  font-weight: inherit;
  padding: 0 30px;
  text-transform: uppercase;
  // vertical-align: middle;

  &:hover:not(:disabled) {
    background: #90e0a0;
    border-color: #b2b2b2;
  }

  &.button-danger {
    background-color: #f0506e;
    color: white;
    font-weight: 700;
    border: 1px solid transparent;
  }
}

input {
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  color: #444;
  font: inherit;
  max-width: 100%;
  overflow: visible;
  padding: 0 10px;
  // vertical-align: middle;
  // outline: none;

  &:focus, &:active {
    border-color: $global-focus-color;
  }
}

/* A flex row of items vertically centered.  */
.row-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
}
