@import 'src/styles/vars.scss';

em {
  color: #633;
}

.code {
  font-family: $base-code-font-family;
  font-size: $base-code-font-size;
  letter-spacing: -0.02rem;
  color: $base-code-color;
}

code {
  letter-spacing: -0.02rem;
}

.field-label {
  font-size: $table-header-cell-font-size;
  font-weight: $table-header-cell-font-weight;
  color: $table-header-cell-color;
  text-transform: uppercase;
}

.error-message {
  color: #802;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 18px;
}
