@import 'src/styles/vars.scss';

.title {
  font-size: 200%;
}

.frame {
  border: 1px solid $apsis-frame-color;
  border-radius: 6px;
  margin-bottom: 1.5ex;

  &.pad, .pad {
    padding: 8px 16px;
  }

  .heading {
    background-color: #f6faf8;
    border-radius: 6px 6px 0 0;
    padding: 12px 16px 10px 16px;
    font-weight: 600;
    border-bottom: 1px solid $apsis-frame-color;
  }
}

em {
  color: #633;
}

.code {
  font-family: $base-code-font-family;
  font-size: $base-code-font-size;
  letter-spacing: -0.02rem;
  color: $base-code-color;
}

code {
  letter-spacing: -0.02rem;
}

pre {
  border: none;
  margin: 0;
}

tt {
  font-family: $base-code-font-family;
}

.field-label {
  font-size: $table-header-cell-font-size;
  font-weight: $table-header-cell-font-weight;
  color: $table-header-cell-color;
  text-transform: uppercase;
}

.error-message {
  color: #802;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 18px;
}

.spaced {
  margin-left: 0.3em;
}

.section {
  margin-top: 1x;
}

// For "buttons" with underline selection.
.undersel {
  padding: 0 8px 4px 8px;
  color: inherit;
  &:hover {
    text-decoration: none;
    border-bottom: 3px solid #eee;
  }
  &.sel {
    border-bottom: 3px solid black;
  }
}
