// Custom variables and variable overwrites.
@import "src/styles/vars.scss";

// Default UIkit variables and mixins.
@import "uikit/src/scss/mixins-theme.scss";

// Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// UIkit.
@import "uikit/src/scss/uikit-theme.scss";

// Base application styles.
@import "src/styles/base.scss";

// FIXME
table.fields {
  @extend .uk-table;
  @extend .uk-table-small;

  width: auto;

  th, td {
    vertical-align: top;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  th {
    padding-left: 0;
    padding-right: 1.5rem;
    // border-right: 1px solid #ddd;
    line-height: 1.75rem;
  }

  td {
    padding-left: 0.5rem;
    padding-right: 0;
  }

  > tbody > tr > td.no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
}

