// Custom variables and variable overwrites.
@import "src/styles/vars.scss";

// Default UIkit variables and mixins.
@import "uikit/src/scss/mixins-theme.scss";

// Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// UIkit.
@import "uikit/src/scss/uikit-theme.scss";

// Base application styles.
@import "src/styles/base.scss";

// Wide table for runs, jobs.
table.widetable {
  //min-width: 1024px;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  th, td {
    &:first-child {
      padding-left: 12px;
    }
    &:last-child {
      padding-right: 12px;
    }
  }

  thead {
    background-color: #f6faf8;
    td, th {
      font-weight: normal;
      padding: 12px 12px;
    }
  }

  tbody tr {
    border-top: 1px solid $apsis-grid-color;
    border-bottom: 1px solid $apsis-grid-color;
    &:not(:last-child) {
      border-bottom: none;
    }
    border-radius: 3px;
    overflow: auto;
    &.run-group-next {
      border-top: none;
    }
    &:hover {
      background-color: #fafafa;
    }
    td {
      padding: 4px 12px 5px 12px;
    }
  }
}


// Table for record-like expansions (single job, etc).
table.fields {
  @extend .uk-table;
  @extend .uk-table-small;

  width: auto;

  th, td {
    vertical-align: top;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  th {
    padding-left: 0;
    padding-right: 1.5rem;
    // border-right: 1px solid #ddd;
    line-height: 1.75rem;
  }

  td {
    padding-left: 0.5rem;
    padding-right: 0;
  }

  > tbody > tr > td.no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
}

