$global-color: #444;
$global-link-color: #DA7D02;
$global-font-family: Roboto, Helvetica, sans-serif;

// Don't be so dramatic with code.
$base-code-color: $global-color;
$base-code-background: white;
$base-code-padding-horizontal: 0;
$base-code-padding-vertical: 0;
$base-code-font-family: 'Roboto Mono', monospace;
$base-code-font-size: 1rem;

$apsis-run-color: #007030;
$apsis-job-color: #00a050;

$table-row-active-background: #f8fff8;

@import "uikit/src/scss/variables-theme.scss";
