$global-color: #444;
$global-background: #ffffff;
$global-light-color: #888;
$global-link-color: #DA7D02;
$global-font-family: Roboto, Helvetica, sans-serif;
$global-focus-color: #6b9;
$global-hover-background: #fafafa;
$global-frame-color: #d8d8d8;
$global-select-background: #f0faf0;
$global-control-background: #f4f4f4;
$global-button-color: #e0e0e0;

$control-hover-color: #b8e0c8;
$control-hover-border: #b2b2b2;

// Don't be so dramatic with code.
$base-code-color: $global-color;
$base-code-background: white;
$base-code-padding-horizontal: 0;
$base-code-padding-vertical: 0;
$base-code-font-family: 'Roboto Mono', monospace;
$base-code-font-size: 100%;

$apsis-dir-color: #404040;
$apsis-run-color: #20a060;
$apsis-job-color: #008030;
$apsis-frame-color: #e0eae0;
$apsis-grid-color: #f2f6f4;

$apsis-status-color: #b0b020;

$table-row-active-background: #f8fff8;
