#-------------------------------------------------------------------------------
# Test crontab.
#-------------------------------------------------------------------------------

LOGNAME=alex
MAILTO=alex@alexsamuel.net

# * * * * * /bin/echo 'Hello, world!'
0 * * * * /bin/echo 'Hourly.'

