#-------------------------------------------------------------------------------
# Test crontab.
#-------------------------------------------------------------------------------

LOGNAME=alex
MAILTO=alex@alexsamuel.net

# * * * * * /bin/echo 'Hello, world!'
0 0,4,8,12,16,20 * * * /bin/echo 'A few times a day.'
30 3 * * * /bin/echo 'Late every night.'

